.viewController {}

.mainContainer {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    overflow: hidden;
}

.navbarContainer {
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--primary-color);
}

.contentContainer {
    background-color: var(--content-background-color);
    position: fixed;
    top: var(--navbar-height);
    width: 100%;
    height: calc(100% - var(--navbar-height));
    overflow: scroll;
    user-select: none;
    /* left: 100px; */
    border: 2px solid red;
}

.viewController_fade {
    background-color: var(--fade-background-color);
    /* position: fixed; */
    top: var(--navbar-height);
    width: 100%;
    height: calc(100% - var(--navbar-height));
    overflow: scroll;
    user-select: none;
}

.contentContainer_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}


/* postListViewController {
    background-color: blueviolet;
    left: 200px
} */