    .userListViewController {}
    
    .userListViewController_userContainer {
        height: 150px;
        width: calc(100% - var(--space-double));
        background-color: rgb(188, 188, 188);
        margin-bottom: var(--space);
        margin-left: var(--space);
        margin-right: var(--space);
        border-radius: 5px;
    }
    
    .userListViewController_navbarContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
    }